@tailwind base;

@tailwind components;

@media (min-width: 1280px) {
    .container {
        max-width: 860px;
    }
}

.ko-fi img {
    width: 35px;
}

.twitter-widget {
    position: static;
    visibility: visible;
    width: 178px;
    height: 28px;
}

@tailwind utilities;